In [5]:
def main():
    numbers = [0, 1, 2, 3, 4]
    x = 2
    def modify():
        numbers[1] = 11
        print(x)

    print(numbers)

    
    


    
    print(numbers)
    modify()
    print(numbers)

main()

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
2
[0, 11, 2, 3, 4]

In [11]:
def modify(numbers, x):
    numbers[1] = 11
    print(x)
    x = 3
    print(x)

numbers = [0, 1, 2, 3, 4]
x = 2
z = {'abcd': 1, 'efg': 3}
print(x)


modify(numbers, x)
print(numbers)
print(x)

2
2
3
[0, 11, 2, 3, 4]
2

In [13]:
class ScoreList:
    def __init__(self, scores):
        self.scores = scores

    def average(self):
        return sum(self.scores) / len(self.scores)

scores1 = ScoreList([80, 90, 95, 92, 85]) 
print(f'The final score is {scores1.average()}.')   


scores2 = ScoreList([80, 20, 95, 30, 85]) 
print(f'The final score is {scores2.average()}.')

The final score is 88.4.
The final score is 62.0.

In [14]:
x = 'abcd'
x.upper()

'ABCD'

In [27]:
str([80, 20, 95, 30, 85])

'[80, 20, 95, 30, 85]'

In [15]:
class ScoreList():
    def __init__(self, scores):
        self.scores = scores

    def average(self):
        return sum(self.scores) / len(self.scores)

In [29]:
class ScoreList:
    def __init__(self, scores, student_name):
        self.scores = scores
        self.student_name = student_name
        
    def __repr__(self):
        return f'Student Name: {self.student_name}; Scores: {", ".join([str(ele) for ele in self.scores])}'
  
    
scores1 = ScoreList([80, 90, 95, 92, 85], 'John Doe')
print(scores1)

Student Name: John Doe; Scores: 80, 90, 95, 92, 85

In [31]:
scores2 = ScoreList([80, 20, 95, 30, 85], 'Jane Doe') 
print(scores2)

Student Name: Jane Doe; Scores: 80, 20, 95, 30, 85

In [34]:
class Person:
    def __init__(self, first_name, last_name, email):
        self.first_name = first_name
        self.last_name = last_name
        self.email = email

p1 = Person('John', 'Doe', 'jdoe@buffalo.edu')
p2 = Person('Jane', 'Doe', 'jane@buffalo.edu')

In [33]:
p1

In [35]:
p2

In [36]:
class Person:
    def __init__(self, first_name, last_name, email):
        self.first_name = first_name
        self.last_name = last_name
        self.email = email
        
    def __repr__(self):
        return f'{self.first_name} {self.last_name}'
        
p1 = Person('John', 'Doe', 'jdoe@buffalo.edu')
p2 = Person('Jane', 'Doe', 'jane@buffalo.edu')

In [37]:
print(p1)

John Doe

In [38]:
print(p2)

Jane Doe

In [50]:
class Person:
    def __init__(self, first_name, last_name, email):
        self.first_name = first_name
        self.last_name = last_name
        self.email = email
        
    def __repr__(self):
        return f'{self.first_name} {self.last_name}'
    
    def get_email(self):
        return self.email

    def get_full_name(self):
        return f'{self.last_name}, {self.first_name}'
        
p1 = Person('John', 'Doe', 'jdoe@buffalo.edu')
p2 = Person('Jane', 'Doe', 'jane@buffalo.edu')

In [49]:
print(p1)
print(p2)

John Doe
Jane Doe

In [48]:
p1.__repr__()

'John Doe'

In [51]:
p1.get_full_name()

'Doe, John'

In [40]:
p1.get_email()

'jdoe@buffalo.edu'

In [41]:
p2.get_email()

'jane@buffalo.edu'

In [42]:
p1.get_full_name()

'Doe, John'

In [43]:
p1.email

'jdoe@buffalo.edu'

In [44]:
p1.x

AttributeError: 'Person' object has no attribute 'x'

In [45]:
p1.average()

AttributeError: 'Person' object has no attribute 'average'

In [52]:
class Student:
    def __init__(self, first_name, last_name, email, program):
        self.first_name = first_name
        self.last_name = last_name
        self.email = email
        self.program = program
        
    def __repr__(self):
        return f'{self.first_name} {self.last_name}; {self.program}'
    
    def get_email(self):
        return self.email

    def get_full_name(self):
        return f'{self.last_name}, {self.first_name}'

In [53]:
s1 = Student('John', 'Doe', 'jdoe@buffalo.edu', 'undergraduate')
print(s1)

John Doe; undergraduate

In [57]:
class Student(Person):
    def __init__(self, first_name, last_name, email, program):
        super().__init__(first_name, last_name, email)
        self.program = program

In [58]:
s1 = Student('John', 'Doe', 'jdoe@buffalo.edu', 'undergraduate')
print(s1)

John Doe

In [78]:
class Student(Person):
    def __init__(self, first_name, last_name, email, program):
        super().__init__(first_name, last_name, email)
        self.program = program
   
    def __repr__(self):
        return f'{self.first_name} {self.last_name}; {self.program}'

In [79]:
s1 = Student('John', 'Doe', 'jdoe@buffalo.edu', 'undergraduate')
print(s1)

John Doe; undergraduate

In [80]:
s2 = Student('John', 'Doe', 'jdoe@buffalo.edu', 12324)
print(s2)

John Doe; 12324

In [88]:
class Student(Person):
    PROGRAMS = ['undergraduate', 'graduate']
    
    def __init__(self, first_name, last_name, email, program):
        if program.lower() not in self.PROGRAMS:
            raise ValueError(f'Programs can only be {self.PROGRAMS}. You entered: {program}.')
        
        super().__init__(first_name, last_name, email)
        self.program = program
   
    def __repr__(self):
        return f'{self.first_name} {self.last_name}; {self.program}'

In [89]:
s2 = Student('John', 'Doe', 'jdoe@buffalo.edu', 'PhD')
print(s2)

ValueError: Programs can only be ['undergraduate', 'graduate']. You entered: PhD.

In [97]:
class Student(Person):
    PROGRAMS = ['undergraduate', 'graduate']
    
    def __init__(self, first_name, last_name, email, program):
        if program.lower() not in self.PROGRAMS:
            raise ValueError(f'Programs can only be {self.PROGRAMS}. You entered: {program}.')
        
        super().__init__(first_name, last_name, email)
        self.program = program.title()
        self.classes = []
   
    def __repr__(self):
        return f'{self.first_name} {self.last_name}; {self.program}'
    
    def enroll(self, class_name):
        self.classes.append(class_name)
        
    def print_classes(self):
        print(', '.join(self.classes))

In [98]:
s2 = Student('John', 'Doe', 'jdoe@buffalo.edu', 'UndergraduaTE')
print(s2)

John Doe; Undergraduate

In [99]:
s2.enroll('EAS503')
s2.enroll('EAS501')
s2.enroll('EAS502')
s2.print_classes()

EAS503, EAS501, EAS502

In [100]:
s2.classes

['EAS503', 'EAS501', 'EAS502']

In [101]:
s2.enroll('EAS503')
s2.print_classes()

EAS503, EAS501, EAS502, EAS503

In [105]:
class Student(Person):
    PROGRAMS = ['undergraduate', 'graduate']
    
    def __init__(self, first_name, last_name, email, program):
        if program.lower() not in self.PROGRAMS:
            raise ValueError(f'Programs can only be {self.PROGRAMS}. You entered: {program}.')
        
        super().__init__(first_name, last_name, email)
        self.program = program.title()
        self.classes = []
   
    def __repr__(self):
        return f'{self.first_name} {self.last_name}; {self.program}'
    
    def enroll(self, class_name):
        if class_name not in self.classes:
            self.classes.append(class_name)
        else:
            print(f'Already enrolled in {class_name} ')
        
    def print_classes(self):
        print(', '.join(self.classes))

In [106]:
s2 = Student('John', 'Doe', 'jdoe@buffalo.edu', 'UndergraduaTE')
print(s2)
s2.enroll('EAS503')
s2.enroll('EAS501')
s2.enroll('EAS502')
s2.print_classes()

John Doe; Undergraduate
EAS503, EAS501, EAS502

In [107]:
s2.enroll('EAS502')

Already enrolled in EAS502

In [108]:
class Course:
    def __init__(self, course_name, credits):
        self.course_name = course_name
        self.credits = credits

    def __repr__(self):
        return f'{self.course_name}'


    def get_course_name(self):
        return self.course_name

In [109]:
c1 = Course('Math', 3)
c2 = Course('Physics', 4)
c3 = Course('Chemistry', 3)
c4 = Course('English', 3)

In [110]:
s2 = Student('John', 'Doe', 'jdoe@buffalo.edu', 'UndergraduaTE')
print(s2)
s2.enroll(c1)
s2.enroll(c2)
s2.enroll(c3)
s2.enroll(c4)
s2.print_classes()

John Doe; Undergraduate

TypeError: sequence item 0: expected str instance, Course found

In [111]:
x = [c1, c2, c3, c4]
','.join(x)

TypeError: sequence item 0: expected str instance, Course found

In [112]:
c1

Math

In [113]:
c2

Physics

In [132]:
class Student(Person):
    PROGRAMS = ['undergraduate', 'graduate']
    MAX_CREDITS = 12
    
    def __init__(self, first_name, last_name, email, program):
        if program.lower() not in self.PROGRAMS:
            raise ValueError(f'Programs can only be {self.PROGRAMS}. You entered: {program}.')
        
        super().__init__(first_name, last_name, email)
        self.program = program.title()
        self.courses = []
        self.total_credits = 0
   
    def __repr__(self):
        return f'{self.first_name} {self.last_name}; {self.program}'
    
    def enroll(self, course):
        if (self.total_credits + course.credits) > self.MAX_CREDITS:
            print('This will put you above 16 Credits')
            return       
        if course not in self.courses:
            self.courses.append(course)
            print(self.courses[-1].course_name)
            print(self.courses[-1].credits)
            
            self.total_credits += course.credits
        else:
            print(f'Already enrolled in {class_name} ')
        
    def print_classes(self):
        print(', '.join([ele.course_name for ele in self.courses]))

In [133]:
s2 = Student('John', 'Doe', 'jdoe@buffalo.edu', 'UndergraduaTE')
print(s2)
s2.enroll(c1)
s2.enroll(c2)
s2.enroll(c3)
s2.enroll(c4)
s2.print_classes()

John Doe; Undergraduate
Math
3
Physics
4
Chemistry
3
This will put you above 16 Credits
Math, Physics, Chemistry

In [128]:
s2.total_credits

13

In [131]:
s2.enroll(c1, c2, c3, c4)

English

In [134]:
class Student(Person):
    PROGRAMS = ['undergraduate', 'graduate']
    MAX_CREDITS = 12
    
    def __init__(self, first_name, last_name, email, program):
        if program.lower() not in self.PROGRAMS:
            raise ValueError(f'Programs can only be {self.PROGRAMS}. You entered: {program}.')
        
        super().__init__(first_name, last_name, email)
        self.program = program.title()
        self.courses = []
        self.total_credits = 0
   
    def __repr__(self):
        return f'{self.first_name} {self.last_name}; {self.program}'
    
    def enroll(self, *courses):
        for course in courses:
            if (self.total_credits + course.credits) > self.MAX_CREDITS:
                print('This will put you above 16 Credits')
                return       
            if course not in self.courses:
                self.courses.append(course)
                print(self.courses[-1].course_name)
                print(self.courses[-1].credits)

                self.total_credits += course.credits
            else:
                print(f'Already enrolled in {class_name} ')
        
    def print_classes(self):
        print(', '.join([ele.course_name for ele in self.courses]))

In [135]:
s2 = Student('John', 'Doe', 'jdoe@buffalo.edu', 'UndergraduaTE')
print(s2)
s2.enroll(c1, c2, c3, c4)
s2.print_classes()

John Doe; Undergraduate
Math
3
Physics
4
Chemistry
3
This will put you above 16 Credits
Math, Physics, Chemistry

In [136]:
# Write a Beverage class whose instances will
# represent beverages. Each beverage should have 
# two attributes: a name (describing the beverage)
# and a temperature. Create several beverages and 
# check that their names and temperatures are all
# handled correctly.

#first name --> first_name (variables and Functions)
# first_name --> FirstName (classes)

class Beverage:
    def __init__(self, name, temp):
        self.name = name
        self.temp = temp
        
    def __repr__(self):
        return f'{self.name}: {self.temp}'
        
b1 = Beverage('Coke', 60)
b2 = Beverage('Pepsi', 50)
b3 = Beverage('7up', 40)

beverages = [b1, b2, b3]
for beverage in beverages:
    print(beverage)

Coke: 60
Pepsi: 50
7up: 40

In [137]:
# Modify the Beverage class, such that you can create 
# a new instance specifying the name, 
# and not the temperature. 
# If you do this, then the temperature should 
# have a default value of 75 degrees Celsius. 
# Create several beverages and double-check 
# that the temperature has this default when 
# not specified.

class Beverage:
    def __init__(self, name, temp=75):
        self.name = name
        self.temp = temp
        
    def __repr__(self):
        return f'{self.name}: {self.temp}'
        
b1 = Beverage('Coke', 60)
b2 = Beverage('Pepsi')
b3 = Beverage('7up', 40)

beverages = [b1, b2, b3]
for beverage in beverages:
    print(beverage)

Coke: 60
Pepsi: 75
7up: 40

In [140]:

# Create a new LogFile class that expects to 
# be initialized with a filename. 
# Inside of __init__, open the file for 
# writing and assign it to an attribute, file, 
# that sits on the instance. Check that itâ€™s 
# possible to write to the file via the file attribute.


class Logfile:
    def __init__(self, filename):
        self.filename = filename
        self.file = None
        
    def open_file(self):
        self.file = open(self.filename, 'w')
        
    def write_row(self, row):
        self.file.write(f'{row.strip()}\n')
        
    def close_file(self):
        self.file.close()
        

        
l1 = Logfile('log1.txt')
l1.open_file()

for row in ['abc', 'efg', 'hij']:
    l1.write_row(row)
    
l1.close_file()

l2 = Logfile('log2.txt')
l2.open_file()

for row in ['ABC', 'EFG', 'DHIJ']:
    l2.write_row(row)
    
l2.close_file()

In [158]:
class Person:
    def __init__(self, first_name, last_name):
        self.first_name = first_name
        self.last_name = last_name

    def __repr__(self):
        return f'{self.first_name} {self.last_name}; {self.get_gpa()}'

class Student(Person):
    def __init__(self, first_name, last_name, credit_hours, q_point):
        super().__init__(first_name, last_name)
        self.credit_hours = credit_hours
        self.q_point = q_point
        

    def get_gpa(self):
        return round(self.q_point / self.credit_hours, 2)
    
    
filename = 'data.tsv'

students = []

with open(filename) as file:
    for line in file:
        if not line.strip():
            continue
        
        name, credits, q_points = line.strip().split('\t')
        last_name, first_name = name.split(',')
        first_name = first_name.strip()
        
        student = Student(first_name, last_name, int(credits), int(q_points))
        students.append(student)
     

for ele in sorted(students, key=lambda student: student.last_name):
    print(ele)

Lisa Aguilar; 3.88
Amber Aguilar; 1.81
Ashley Aguilar; 1.61
Samuel Anderson; 2.62
Kayla Baldwin; 2.76
Samantha Barr; 3.5
Christina Bowman; 2.65
Sarah Brown; 2.53
Robert Burnett; 1.83
Andrew Burton; 2.15
David Bush; 1.94
Brandon Butler; 3.83
Douglas Cameron; 2.35
Raymond Christian; 1.67
Michelle Church; 3.75
Joel Conway; 3.23
Kevin Cooper; 2.35
Ellen Cortez; 3.43
Brandon Crane; 3.89
Jacob Cummings; 3.41
Ashley Davenport; 2.0
Anthony Davis; 3.48
Madison Dunn; 3.11
Sarah Edwards; 3.31
Andrew Erickson; 2.07
Raymond Fisher; 3.25
Erica Fleming; 1.52
Brian Franklin; 3.0
Michael Fry; 2.27
Colleen Gomez; 2.22
Steven Gordon; 2.02
Dorothy Graves; 2.12
Troy Griffith; 2.07
Miguel Guerra; 2.04
Justin Guerrero; 3.28
Laura Haley; 2.98
Sophia Haley; 2.75
Meagan Harrell; 3.54
Judith Harris; 1.83
Ronald Harris; 1.55
Rebecca Harrison; 3.64
Sarah Hernandez; 2.02
Patricia Hess; 3.1
Christopher Ho; 3.0
Brian Holland; 2.44
Kelly Holmes; 2.13
Carol Howell; 2.63
Tommy Hull; 3.0
Kyle Humphrey; 3.81
Amy Hunter; 3.47
Elizabeth Jackson; 2.4
Mark Jackson; 3.48
Lisa James; 2.82
Ashley James; 2.62
Christine Johnson; 3.65
Rachel Jones; 2.86
Gregory Jones; 3.38
Matthew Jones; 2.49
Tracy Lee; 2.29
Karen Lee; 1.95
Carrie Lewis; 2.87
Edward Lopez; 1.86
Hannah Macias; 3.76
Monica Mann; 3.36
Richard Matthews; 1.93
Emily Mccarthy; 2.96
Steven Mcgee; 2.0
Evelyn Mendez; 1.54
Phyllis Miller; 2.61
Johnny Mitchell; 1.65
Tanya Montgomery; 1.63
Mary Moon; 3.62
Howard Moore; 2.7
Richard Nelson; 2.78
Jon Perkins; 3.5
Amy Perry; 2.87
Jamie Peters; 3.38
Jennifer Pratt; 2.87
Thomas Roberts; 3.64
Richard Rodriguez; 2.85
Ann Rodriguez; 2.58
Kristy Rowland; 3.46
Ashley Shaw; 2.83
Walter Sosa; 2.62
Jasmin Stephens; 2.63
Christina Stewart; 3.74
Jason Stuart; 2.0
Abigail Thomas; 2.61
Ana Torres; 3.14
Lauren Torres; 3.69
Mariah Tucker; 3.11
Jennifer Vazquez; 1.5
Julie Weaver; 3.16
Rebecca Weaver; 3.66
Jason Weber; 2.39
Tammy Williams; 3.21
Jonathan Williams; 1.96
Jasmine Williams; 1.7
Heather Wright; 2.38
Danielle Young; 1.71
Jennifer Vazquez; 1.5
Erica Fleming; 1.52
Evelyn Mendez; 1.54
Ronald Harris; 1.55
Ashley Aguilar; 1.61
Tanya Montgomery; 1.63
Johnny Mitchell; 1.65
Raymond Christian; 1.67
Jasmine Williams; 1.7
Danielle Young; 1.71
Amber Aguilar; 1.81
Judith Harris; 1.83
Robert Burnett; 1.83
Edward Lopez; 1.86
Richard Matthews; 1.93
David Bush; 1.94
Karen Lee; 1.95
Jonathan Williams; 1.96
Ashley Davenport; 2.0
Steven Mcgee; 2.0
Jason Stuart; 2.0
Sarah Hernandez; 2.02
Steven Gordon; 2.02
Miguel Guerra; 2.04
Troy Griffith; 2.07
Andrew Erickson; 2.07
Dorothy Graves; 2.12
Kelly Holmes; 2.13
Andrew Burton; 2.15
Colleen Gomez; 2.22
Michael Fry; 2.27
Tracy Lee; 2.29
Douglas Cameron; 2.35
Kevin Cooper; 2.35
Heather Wright; 2.38
Jason Weber; 2.39
Elizabeth Jackson; 2.4
Brian Holland; 2.44
Matthew Jones; 2.49
Sarah Brown; 2.53
Ann Rodriguez; 2.58
Abigail Thomas; 2.61
Phyllis Miller; 2.61
Samuel Anderson; 2.62
Walter Sosa; 2.62
Ashley James; 2.62
Carol Howell; 2.63
Jasmin Stephens; 2.63
Christina Bowman; 2.65
Howard Moore; 2.7
Sophia Haley; 2.75
Kayla Baldwin; 2.76
Richard Nelson; 2.78
Lisa James; 2.82
Ashley Shaw; 2.83
Richard Rodriguez; 2.85
Rachel Jones; 2.86
Jennifer Pratt; 2.87
Amy Perry; 2.87
Carrie Lewis; 2.87
Emily Mccarthy; 2.96
Laura Haley; 2.98
Tommy Hull; 3.0
Christopher Ho; 3.0
Brian Franklin; 3.0
Patricia Hess; 3.1
Mariah Tucker; 3.11
Madison Dunn; 3.11
Ana Torres; 3.14
Julie Weaver; 3.16
Tammy Williams; 3.21
Joel Conway; 3.23
Raymond Fisher; 3.25
Justin Guerrero; 3.28
Sarah Edwards; 3.31
Monica Mann; 3.36
Gregory Jones; 3.38
Jamie Peters; 3.38
Jacob Cummings; 3.41
Ellen Cortez; 3.43
Kristy Rowland; 3.46
Amy Hunter; 3.47
Mark Jackson; 3.48
Anthony Davis; 3.48
Samantha Barr; 3.5
Jon Perkins; 3.5
Meagan Harrell; 3.54
Mary Moon; 3.62
Thomas Roberts; 3.64
Rebecca Harrison; 3.64
Christine Johnson; 3.65
Rebecca Weaver; 3.66
Lauren Torres; 3.69
Christina Stewart; 3.74
Michelle Church; 3.75
Hannah Macias; 3.76
Kyle Humphrey; 3.81
Brandon Butler; 3.83
Lisa Aguilar; 3.88
Brandon Crane; 3.89

In [159]:
for ele in sorted(students, key=lambda student: student.get_gpa()):
    print(ele)

Jennifer Vazquez; 1.5
Erica Fleming; 1.52
Evelyn Mendez; 1.54
Ronald Harris; 1.55
Ashley Aguilar; 1.61
Tanya Montgomery; 1.63
Johnny Mitchell; 1.65
Raymond Christian; 1.67
Jasmine Williams; 1.7
Danielle Young; 1.71
Amber Aguilar; 1.81
Judith Harris; 1.83
Robert Burnett; 1.83
Edward Lopez; 1.86
Richard Matthews; 1.93
David Bush; 1.94
Karen Lee; 1.95
Jonathan Williams; 1.96
Ashley Davenport; 2.0
Steven Mcgee; 2.0
Jason Stuart; 2.0
Sarah Hernandez; 2.02
Steven Gordon; 2.02
Miguel Guerra; 2.04
Troy Griffith; 2.07
Andrew Erickson; 2.07
Dorothy Graves; 2.12
Kelly Holmes; 2.13
Andrew Burton; 2.15
Colleen Gomez; 2.22
Michael Fry; 2.27
Tracy Lee; 2.29
Douglas Cameron; 2.35
Kevin Cooper; 2.35
Heather Wright; 2.38
Jason Weber; 2.39
Elizabeth Jackson; 2.4
Brian Holland; 2.44
Matthew Jones; 2.49
Sarah Brown; 2.53
Ann Rodriguez; 2.58
Abigail Thomas; 2.61
Phyllis Miller; 2.61
Samuel Anderson; 2.62
Walter Sosa; 2.62
Ashley James; 2.62
Carol Howell; 2.63
Jasmin Stephens; 2.63
Christina Bowman; 2.65
Howard Moore; 2.7
Sophia Haley; 2.75
Kayla Baldwin; 2.76
Richard Nelson; 2.78
Lisa James; 2.82
Ashley Shaw; 2.83
Richard Rodriguez; 2.85
Rachel Jones; 2.86
Jennifer Pratt; 2.87
Amy Perry; 2.87
Carrie Lewis; 2.87
Emily Mccarthy; 2.96
Laura Haley; 2.98
Tommy Hull; 3.0
Christopher Ho; 3.0
Brian Franklin; 3.0
Patricia Hess; 3.1
Mariah Tucker; 3.11
Madison Dunn; 3.11
Ana Torres; 3.14
Julie Weaver; 3.16
Tammy Williams; 3.21
Joel Conway; 3.23
Raymond Fisher; 3.25
Justin Guerrero; 3.28
Sarah Edwards; 3.31
Monica Mann; 3.36
Gregory Jones; 3.38
Jamie Peters; 3.38
Jacob Cummings; 3.41
Ellen Cortez; 3.43
Kristy Rowland; 3.46
Amy Hunter; 3.47
Mark Jackson; 3.48
Anthony Davis; 3.48
Samantha Barr; 3.5
Jon Perkins; 3.5
Meagan Harrell; 3.54
Mary Moon; 3.62
Thomas Roberts; 3.64
Rebecca Harrison; 3.64
Christine Johnson; 3.65
Rebecca Weaver; 3.66
Lauren Torres; 3.69
Christina Stewart; 3.74
Michelle Church; 3.75
Hannah Macias; 3.76
Kyle Humphrey; 3.81
Brandon Butler; 3.83
Lisa Aguilar; 3.88
Brandon Crane; 3.89

In [161]:
low_gpa = students[0]
high_gpa = students[0]

for student in students[1:]:
    if student.get_gpa() < low_gpa.get_gpa():
        low_gpa = student
        
    if student.get_gpa() > high_gpa.get_gpa():
        high_gpa = student
        
print(low_gpa,high_gpa )

Jennifer Vazquez; 1.5 Brandon Crane; 3.89